body { font-family: Arial; background:#111; color:white; text-align:center; }
button { padding:10px 20px; margin-top:20px; }
.card { background:#222; padding:20px; margin-top:20px; border-radius:10px; }